<!-- Validation failure messages -->
<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>
<form action="/create_item" method="post">
<div class="row">
  <div class="col-md-9 light-body">
    <div class="row">
      <div class="col-md-2 progresss mobile-only">
        <img src="/images/progress-3.png" width="100"/>
      </div>
    <div class="col-md-10">
    <h1 class="page-title">Upload Files</h1>
  </div>
  <div class="col-md-2 progresss desktop-only">
    <img src="/images/progress-3.png" width="100"/>
  </div>
</div>

      <!-- Hidden input for authenticity token to protect from forgery -->

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @item.name %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @item.description %>">
      </div>

  </div>
  <div class="col-md-3 dark-body scrollify no-padding text-center">
    <button class="big-next"><h2 class="next-btn"><img src="/images/next-arrow.png" style="width: 70px;"><br>
      Finish Up</h2><h4 class="next-sub-btn">Woohoo!</h4></button>
    </div>

</div>
</form>
