@media screen and (max-width: 991px) {
    .scrollify {margin-top: 0px !important;}
    .mobile-only {display: block!important;}
    .desktop-only {display: none!important;}
}
@media screen and (min-width: 992px) {
    .mobile-only {display: none !important;}
    .desktop-only {display: block !important;}
}

.project_type_box {
  text-align: center;
  padding: 5px;
}

.project_type_box > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.project_type_box > input + div{ /* IMAGE STYLES */
  padding: 50px 12px;
    cursor: pointer;
    border: 1px solid #c3c6d1;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: auto;
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    color: #8596a7;
}
.project_type_box > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #33414d;
  border-radius: 5px;
  color: #33414d;
}

.progresss {
  text-align: center;
  margin: 15px 0px;
}
